<h1>Editing User Profile</h1>

<div class="authform">
<%= render 'form' %>
<%= link_to 'Show', @user_profile %> |
<%= link_to 'Back', user_profiles_path %>
</div>

<div class="authform">
  <%= form_for(@user.user_profile, html: { method: :patch }) do |f| %>
    <div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div>

    <fieldset>
      <p>Change your contact information here.</p>
      <div class="form-group">
        <%= f.label :phone_number %>
        <%= f.text_field :phone_number, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :mobile_number %>
        <%= f.text_field :mobile_number, class: 'form-control' %>
      </div>
    </fieldset>

    <fieldset>
      <div class="form-group">
        <%= f.label :profile_picture %>
        <%= f.file_field :picture %>
      </div>
    </fieldset>
    <%= f.submit 'Update', :class => 'button right' %>
  <% end %>
</div>
